input {
  height: 2rem;
  font-size: 0.9rem;
  padding: 0.438rem 0.5rem 0.375rem;
  border-radius: $radius;
  border: 1px solid $grey;

  &.secondary {
    border: none;
    background-color: $light-grey;
  }

  &.is-invalid {
    border-color: $danger;
  }
}

fieldset {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 0.25rem;
  }
  margin-bottom: 1rem;

  &.half {
    width: 25%;
  }

  .error-label {
    display: block;
    margin-top: 0.25rem;
    font-size: 0.7rem;
    color: $danger;
  }
}
