$primary: #dbff90;
$secondary: #fa7268;
$danger: #fa2515;
$highlight: #fff3f2;
$bg: #f8f9fd;
$white: #fff;
$dark: #2a2d3b;
$light-grey: #e4e7f4;
$grey: #c0c3d2;
$ice: #e1e1e1;
$bluey-grey: #9198af;

$radius: 4px;

$break-md: 981px;

$huge-alfa: rgba(0, 0, 0, 0.08);

$medium-alfa: rgba(0, 0, 0, 0.08);

$mid-alfa: rgba($dark, 0.4);

$box-shadow: 0 16px 10px 0 $mid-alfa;

@mixin background-opacity($color, $opacity: 0.3) {
  background: $color;
  background: rgba($color, $opacity);
}

@mixin top-bottom-border() {
  border-top: 1px solid rgb(227, 231, 233);
  border-bottom: 1px solid rgb(227, 231, 233);
}
